*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 header{
     background-color: rgb(84, 197, 212);
     height:  200px;
 }
 .container{
    max-width: 900px;
    width: 100x;
    margin: auto;
 }
    
.navbar{
    position: fixed;
    width: 100px;
    z-index: 200px;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200Spx;

}
.menu-items{
    display: flex;
}
.menu-items li{
    list-style:none;
    padding: 1px;

}
.menu-items a{
    text-decoration: none;
    color: brown;
    font-size: 40px;
    padding: 10px;
}
.menu-items a:hover{
    border-bottom: 5px soild rgb(21, 160, 39);
}
.home-content.name {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgba(119, 29, 204, 0.027);
    transform: translate(-30 , -30);
    width: 100%;
    text-align:center;
}
.home-content.name h1 {
    font-size: 20px;
    text-align: center;
}
.home-content.name p{
    color: rgb(73, 2, 55);
    font-size: 10px;
    font-size: 20px;
}
.angle-down-icon {
    bottom: 20%;
    left:  70%;
    font-size: 20px;
    border: 5px solid rgba(255, 0, 0, 0.644);
    border-radius: 20%;

}
.angle-down-icon a{
    text-decoration: none;
    color: rgb(191, 240, 16);
    padding: 20rem;
}
.about-me{
    background-color:rgb(164, 243, 243);
    padding: 15px;
}
.about-me .about-heading {
    color:black;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}


