*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
body{
    background: #080808;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 #header{
     background-color: rgb(84, 197, 212);
     height:  200px;
     width:100% ;

 }
 .container{
    padding: 10px 10x;
   /* max-width: 900px;
    width: 100x;
    margin: auto;*/
 }
    
nav{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    flex-wrap: wrap;

}
h1{
    width: 80px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:black;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: rgba(255, 0, 0, 0.589);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 20px;
}
.header-text h1{
    font-size: 30px;
    margin-top: 20px;
}

/*


}
.menu-items{
    display: flex;
}
.menu-items li{
    list-style:none;
    padding: 1px;

}
.menu-items a{
    text-decoration: none;
    color: brown;
    font-size: 40px;
    padding: 10px;
}
.menu-items a:hover{
    border-bottom: 5px soild rgb(21, 160, 39);
}
.home-content.name {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgba(119, 29, 204, 0.027);
    transform: translate(-30 , -30);
    width: 100%;
    text-align:center;
}
.home-content.name h1 {
    font-size: 20px;
    text-align: center;
}
.home-content.name p{
    color: rgb(73, 2, 55);
    font-size: 10px;
    font-size: 20px;
}
.angle-down-icon {
    bottom: 20%;
    left:  70%;
    font-size: 20px;
    border: 5px solid rgba(255, 0, 0, 0.644);
    border-radius: 20%;

}
.angle-down-icon a{
    text-decoration: none;
    color: rgb(191, 240, 16);
    padding: 20rem;
}
.about-me{
    background-color:rgb(164, 243, 243);
    padding: 15px;
}
.about-me .about-heading {
    color:black;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}
 .footer colm{
    color: rgb(89, 7, 172);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20%;
    padding: 3px;
    margin: 4px;
    font-weight: 400;

}



